/***    General     ***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*** font-family: "Roboto", sans-serif***/
}

/***    Landing Page     ***/
.main-title,

.pages {
  color: #4d4d4d;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 10%;
}



.App {
  text-align: center;
}

.navb {
  text-align: left;
}

.grade {
  border: outset;
}

.color {
  color: #8A48A8;
}

.color_nav {
  color: #8A48A8;
  text-decoration: none;
}

.color_back {
  background-color: #808080;
}

.subject {
  background-color: #e0e0e0;
  color: #8A48A8;
}

#reg_btn:hover span {
padding-right: 25px;
}

#reg_btn:hover span:after {
opacity: 1;
right: 0;
}

body {
  background-color: #ebebeb;
}

form {
  display: inline-block;
  background: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 2rem;
  margin: 5rem 5 5rem 5
}

form label {
  float: left;
  font-size: .9rem;
  margin: 0;
  padding: 0
}

input {
  width: 15rem;
  padding: .7rem;
  border-radius: 5px;
  outline: none;
  border: none
}

.btn {
  background: #c9c9c9;
  border: none;
  padding: .2rem;
  border-radius: 8px;
}

#sub_btn {
  display: block;
  width: 100%;
  padding: .5rem;
  border: none;
  background: #222;
  color: #fff;
  border-radius: 3px;
}

#grade_btn {
  width: 100%;
  display: block;
  padding: .5rem;
  border: none;
  font-size: 15px;
  background: #b1b1b1;
  color: rgb(0, 0, 0);
}

#sub_btn:hover {
  background: #333;
  transition: all .5s
}